parameters:
    level: 0
    paths:
        - ../formbuilder
        - ../helpers
        - ../src
        - ../tests
    scanDirectories:
        - ../vendor/nails
        - ../vendor/pocketarc/codeigniter
